@import ../variables

footer
  position: fixed
  bottom: 0
  left: 0
  width: 100%
  background-color: $dark-color
  color: $grey
  padding: 10px
  margin: auto 0
  text-align: center
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5)
  font-family: $footer-font
  p
    margin: 0
  a
    color: $green
header
  max-width: $max-width
  background-color: $header-color
  font-family: $title-font
  font-size: $h6
  font-weight: bold
  text-transform: uppercase
  color: $dark-color
  .logo
    width: 164px

iframe
  pointer-events: none
  width: 90%
  height: 250px
  border-style: none

.contacts
  font-family: $text-font
  text-transform: uppercase
  &__title
    font-weight: bold
    font-size: $h4
  &__address
    font-size: $h5
    text-align: left
